/document-parser-api/node_modules
/document-parser-ui/package-lock.json
/document-parser-api/*.env
/document-parser/.vscode
/document-parser-ui/.vscode
/document-parser-api/package-lock.json
/.vscode/launch.json
/document-parser/extraction_schemes
/document-parser/seed_extraction_schemes.py
